/***********************************************************

1. CSS RESET

2. VARIABLES
2.1 GRADIENTS
2.2 CSS3 TRANSITIONS

3. GLOBAL THEME STYLES

4. TYPOGRAPHY
4.1 HEADINGS
4.2 PARAGRAPHS & LISTS
4.3 LINKS
4.4 PRODUCT ATTRIBUTES (name, description, price)
4.5 RTE

5. FORMS & COMPONENTS
5.1 FORMS
5.2 ALERTS
5.3 BUTTONS

6. GLOBAL PAGE LAYOUT

7. SIDEBAR CONFIGURATION

8. MAIN PAGE
8.1 HEADER
8.2 MEGAMENU
8.3 NIVOSLIDER
8.4 SHOWCASE
8.5 MAIN PRODUCT LISTING
8.6 FOOTER

9. COLLECTION PAGES
9.1 PAGES CONTENT
9.2 BREADCRUMBS
9.3 COLLECTION LISTING
9.4 PAGINATION

10. SIDEBAR WIDGETS
10.1 LINKS LIST
10.2 SIDEBAR PRODUCT LISTING

11. SEARCH RESULTS PAGE

12. PRODUCT PAGE
12.1 PRODUCT IMAGES
12.2 PRODUCT INFO
12.3 PRODUCT PAGINATION
12.4 RELATED PRODUCTS

13. BLOG
13.1 POSTS LISTING
13.2 SINGLE POST

14. CUSTOMER PAGES
14.1 LOG IN
14.2 ACCOUNT
14.3 ADDRESSES
14.4 ORDERS

15. CART PAGE
15.1 CART PRODUCTS
15.2 GUEST CHECKOUT

16. CONTACTS PAGE

***********************************************************/



/***************************************************************************
                                1200px <
***************************************************************************/

@media (min-width: 1200px) {



}


/***************************************************************************
                                < 1200px
***************************************************************************/

@media (max-width: 1199px) {

/* 3. GLOBAL THEME STYLES */
/* cookies policy message */
.cookies_container {text-align: center;}
.cookies_container p {display: block;font-size: 15px;}
.cookies_container .cookie_btn {margin: 10px 0;font-size: 15px;}


/* 8.1 HEADER */

/* 8.2 MEGAMENU */

/* 8.3 NIVOSLIDER */
.nivo-caption .caption_wrap {width: 65%;margin: 0 0 0 auto;padding: 0 30px;}

.nivo-caption h2 {font-size: 20px;}
.nivo-caption h3 {font-size: 25px;line-height: 1.5em;}
.nivo-caption .btn {margin: 15px 0 0 0;padding: 12px 20px;font-size: 16px;}

.nivo-controlNav {bottom: 30px;}



/* 8.4 SHOWCASE */
.custom_showcase {margin: 23px 0 0 0;padding: 15px;}
.custom_showcase h3 {font-size: 18px;}


/* 8.6 FOOTER */

/* 8.5 MAIN PRODUCT LISTING */

/* HOMEPAGE CAROUSEL */
.index-scope .bx-wrapper {}
.homepage_carousel .product {width: 250px !important;}



/* 10.2 SIDEBAR PRODUCT LISTING */
.product_listing_sidebar .product {text-align: center;}
.product_listing_sidebar .product_img {width: 100%;float: none;}
.product_listing_sidebar .product_info {margin: 10px 0 0 0;}

}



/***************************************************************************
                                < 992px
***************************************************************************/

@media (max-width: 992px) {
  
.cart_popup {top: 0 !important;}

/* 5.3 BUTTONS */
.btn,
.btn a,
.btn-info,
.btn-primary {padding: 8px 15px;font-size: 14px;}



/* 8.1 HEADER */
#logo {padding: 20px 0 0 0;text-align: center;}



/* 8.2 MEGAMENU */
#megamenu.isStuck {position: relative !important;left: auto;right: auto;
-webkit-box-shadow: none;
		box-shadow: none;
}
.pseudoStickyBlock {display: none !important;}

#megamenu .container {border: none;}



.megamenu_mobile {height: 70px;border: 1px solid #e0e0e0;border-width: 0 1px;position: relative;}

.megamenu_mobile h2 {overflow: hidden;padding: 0 45px 0 20px;font-size: 20px;line-height: 69px;white-space: nowrap;text-overflow: ellipsis;cursor: pointer;position: relative;}
.megamenu_mobile h2 i {position: absolute;right: 20px;top: 0;}
.megamenu_mobile h2 i:before {content: '\f0fe';font: 27px/69px 'FontAwesome';}
.megamenu_mobile h2.active i:before {content: '\f146';}

.megamenu_mobile ul {width: 100%;}
.megamenu_mobile li {position: relative;}


.submenu__1 {width: auto !important;padding: 20px;background: #ffffff;border: 1px solid #e0e0e0;border-top: none;position: absolute;left: -1px;right: -1px;
display: none;
}
.submenu__1 > li ~ li {padding: 5px 0 0 0;}
.submenu__1 > li > a {display: block;font-size: 18px;text-transform: uppercase;}
.submenu__1 > li > a > i {float: right;}
.submenu__1 > li > a > i:before {content: '\f0fe';font: 24px 'FontAwesome';}
.submenu__1 > li > a.active > i:before {content: '\f146';}



.submenu__2 {padding: 10px 15px;
display: none;
}
.submenu__2 > li ~ li {padding: 5px 0 0 0;}
.submenu__2 > li > a {display: block;font-size: 16px;text-transform: uppercase;}
.submenu__2 > li > a > i {float: right;}
.submenu__2 > li > a > i:before {content: '\f0fe';font: 20px 'FontAwesome';}
.submenu__2 > li > a.active > i:before {content: '\f146';}



.submenu__3 {padding: 5px 15px;
display: none;
}



/* 8.3 NIVOSLIDER */
.nivo-caption h2 {padding: 30px 0 0 0;font-size: 18px;}
.nivo-caption h3 {font-size: 22px;}
.nivo-caption p {display: none;}

.nivo-controlNav {bottom: 30px;}



/* 8.4 SHOWCASE */

/* 8.5 MAIN PRODUCT LISTING */

/* HOMEPAGE CAROUSEL */
.homepage_carousel .product {width: 260px !important;}



/* HOMEPAGE BLOG */
.homepage_blog__article {margin: 15px 0 0 0;padding: 15px;}



/* CUSTOM BOTTOM */
.custom_bottom {margin: 15px 0 0 0;padding: 15px;}



/* 8.6 FOOTER */

/* 10.2 SIDEBAR PRODUCT LISTING */

/* 12.1 PRODUCT IMAGES */
.product_image-additioanl {width: 229px !important;}



/* 12.1 PRODUCT IMAGES */
.zoomWrapper,
#elevatezoom_big {width: 262px !important;}

#elevatezoom_gallery a {width: 59px !important;}

.zoomContainer {display: none !important;}

.zoomWrapper:after {content: '';width: 100%;height: 100%;display: block;position: absolute;left: 0;top: 0;z-index: 1000;}



/* 12.4 RELATED PRODUCTS */
ul.product_listing_related .product_price {padding: 0 10px;}



}



/***************************************************************************
                                < 767px
***************************************************************************/

@media (max-width: 767px) {

/* 6. GLOBAL PAGE LAYOUT */
.container {padding:0 15px;}

.column_left,
.column_right,
.column_center,
#main_content {margin-left: 0 !important;margin-right: 0 !important;}

.rte {text-align: center;}



/* 8.1 HEADER */
.header_link__home {display: none !important;}

.header_user {float: left;}

.header_row__2 {padding: 0 0 30px 0;}

#logo {padding: 30px 0;}

.header_search {padding: 0;}

.header_cart {padding: 30px 0 0 0;text-align: center;}



/* 8.2 MEGAMENU */

/* 8.3 NIVOSLIDER */
.slider_wrap {margin: 30px 0 0 0;}

.nivo-caption h2 {padding: 20px 0 0 0;font-size: 15px;}
.nivo-caption h3 {padding: 20px 0 0 0;font-size: 18px;}

.nivo-controlNav {bottom: 20px;}



/* 8.4 SHOWCASE */

/* 8.5 MAIN PRODUCT LISTING */
.product_listing_main .product {margin: 15px 0 0 0;}
.product_listing_main .product > div {overflow: hidden;position: relative;}

.product_listing_main .product_img {width: 120px;float: left;padding: 0;}
.product_listing_main .product_img span.sale {display: none;}

.product_listing_main .product_info {margin: 0 0 0 135px;text-align: left;}

.product_listing_main .product_name {padding: 15px 0 0 0;text-align: left;}
.product_listing_main .product_name a {min-height: 1px;}

.product_listing_main .product_desc {padding: 0;text-align: left;}

.product_listing_main .product_price {position: absolute;left: 120px;right: 0;bottom: 0;}



/* HOMEPAGE CAROUSEL */
.index-scope .bx-wrapper {max-width: 767px !important;margin: 0;}
.index-scope .bx-viewport {height: auto !important;}
.index-scope .bx-controls {display: none !important;}

.homepage_carousel {width: 100% !important;max-width: 767px !important;margin: 0;}
.homepage_carousel .product {width: 100% !important;float: none;padding: 0;}
.homepage_carousel .product.bx-clone {display: none;}



/* 8.6 FOOTER */
.footer_block h3 {padding: 30px 0 0 0;}
.footer_block ul {padding: 0;}

footer .copyright {margin: 30px 0 0 0;}



/* 10.2 SIDEBAR PRODUCT LISTING */
.product_listing_sidebar .product {overflow: hidden;text-align: left;}
.product_listing_sidebar .product_img {width: 100px;float: left;}
.product_listing_sidebar .product_info {margin: 0 0 0 115px;}



/* 12.1 PRODUCT IMAGES */
.zoomWrapper {width: 290px !important;margin: 0 auto;}
#elevatezoom_big {width: 290px !important;}

.product_images .bx-wrapper {width: 290px !important;margin: 12px auto 0 auto;}

#elevatezoom_gallery a {width: 68px !important;}



/* 12.2 PRODUCT INFO */
.product_wrap .product_name {margin: 0;padding: 30px 0 0 0;}



/* 15. CART PAGE */
.cart_buttons {text-align: center;}
.cart_buttons span.or {display: block;margin: 5px 0;}

}



/***************************************************************************
                                < 640px
***************************************************************************/

@media (max-width: 640px) {

/* 8.3 NIVOSLIDER */
.nivo-caption .btn {display: none !important;}



/* 8.4 SHOWCASE */
#showcase .col-xs-4 {width: 100%;float: none;}



/* CUSTOM BOTTOM */
#bottom .col-xs-4 {width: 100%;float: none;}



}



/***************************************************************************
                                < 480px
***************************************************************************/

@media (max-width: 480px) {

/* 8.3 NIVOSLIDER */
.nivo-caption {display: none !important;}



/* 8.5 MAIN PRODUCT LISTING */
.product_listing_main .product_img {width: 100px;}
.product_listing_main .product_info {margin: 0 0 0 115px;}
.product_listing_main .product_desc {display: none;}
.product_listing_main .product_price {left: 100px;}



/* 12.1 PRODUCT IMAGES */
.product_wrap .product_image {width: 290px;}
.product_image-additioanl {width: 306px !important;}
.product_wrap #bx-pager a {width: 87px;margin-right: 15px;}



/* 14.2 ACCOUNT */
.customer_name .divider {display: none;}
.customer_name .email {display: block;}
.customer_name a {float: none;}

}



/***************************************************************************
                                < 340px
***************************************************************************/

@media (max-width: 340px) {



}